streamlit
feedparser
requests
beautifulsoup4
yfinance
matplotlib
seaborn
transformers==4.36.2
tokenizers==0.15.2
torch
numpy<2.0
spacy==3.7.4
thinc==8.2.5
wordcloud
yake
scikit-learn
fpdf
pandas
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
