streamlit
feedparser
requests
beautifulsoup4
yfinance
matplotlib
seaborn
transformers==4.36.2
tokenizers==0.15.2
torch
spacy
wordcloud
yake
scikit-learn
fpdf
pandas
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
